@model CRUDsummerNote.Models.News

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="panel panel-default">
    <div class="panel-heading panel-head">Detail News</div>
    <div class="panel-body">
        <div>
    
    
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Tittle)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tittle)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Content)
                </dt>


                <dd>
                    @Html.Raw(Model.Content)
                </dd>



            </dl>
        </div>

    </div>
    <hr />
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>


